@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&display=swap");
* {
    box-sizing: border-box;
}

:root {
    --brandColor: rgb(255, 251, 0);
}

body {
    font-family: "Libre Franklin", sans-serif;
    margin: 0px;
    padding: 0px;
    position: absolute;
    background-image: url("../img/gym1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
}

#top-left {
    display: flex;
    /* border: 2px solid red; */
}

#top-right {
    display: flex;
    /* border: 2px solid greenyellow; */
    align-items: center;
    justify-items: center;
}

#top-mid {
    /* border: 2px solid yellow; */
    width: 620px;
    display: flex;
}

#header {
    position: fixed;
    width: 100%;
    /* border: 2px solid blueviolet; */
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.top {
    padding: 2px;
    margin: 2px;
}

#top-mid .navbar li {
    list-style: none;
}

#top-mid .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid yellowgreen; */
    width: 100%;
    padding: 0px;
}

#top-mid .navbar li a {
    color: white;
    text-decoration: none;
    padding: 2px 10px;
    margin: 6px;
    font-size: 20px;
    /* border: 2px solid white; */
}

#top-mid .navbar li a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
    border-radius: 4px;
    margin-top: 0;
    background-color: var(--brandColor);
    font-weight: bold;
    padding: 40px 10px 10px 10px;
}

#top-mid .navbar li a.active {
    color: rgb(0, 0, 0);
    text-decoration: underline;
    border-radius: 4px;
    padding: 40px 10px 10px 10px;
    margin: 0px;
    background-color: var(--brandColor);
    font-weight: bold;
}

.logo img {
    width: 70px;
    margin-left: 10px;
    margin-top: 5px;
}

.companyName {
    font-family: "Open Sans", sans-serif;
    margin: 5px;
    font-size: 30px;
    font-weight: bolder;
    align-self: center;
    padding: 10px;
    text-align: center;
    /* border: 1px solid; */
    justify-content: center;
    color: var(--brandColor);
}

.enroll {
    padding: 10px;
    background-color: var(--brandColor);
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    margin-right: 10px;
}

button#enroll:hover {
    cursor: pointer;
    background-color: rgb(255, 238, 0);
}